@model CentiSoft.Models.ContactVM

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<form action="/Contact/Edit" method="post" class="form-horizontal">
    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="form-group">
        <label>Contact name</label>
        <input type="text" name="Name" required value="@Model.Name"/>
    </div>
    <div class="form-group">
        <label>Position</label>
        <input type="text" name="Position" required value="@Model.Position" />
    </div>
    <div class="form-group">
        <label>Company</label>
        <input type="text" name="Company" required value="@Model.Company" />
    </div>
    <div class="form-group">
        <label>Phone number</label>
        <input type="text" name="PhoneNumber" required value="@Model.PhoneNumber" />
    </div>
    <input type="submit" value="Update" class="btn btn-danger" />
</form>
